<div id="user-details-container">
    <div id="user-info">
        <img src="{{pfpUrl}}" id="user-details-profile-pic" />
        <h1>{{username}}</h1>
        <!-- <h1>Created on: {parseDate(createdOn)}</h1> -->
        <h1>Created on: {{createdOn | date: "MMM d, y"}}</h1>
    </div>
    <div id="user-cart-container">
    <div id='user-cart-header'>
        <h2>My Cart</h2>
        <a routerLink="/user/cart" id='view-more'>View more</a>
    </div>
    <div id='user-cart'>
        <!-- {cartItems.length
            ? cartItems.map(cartItem => (
                <>
                    <ItemPreview key={cartItem._id} title={cartItem.title} price={cartItem.price} image={cartItem.imageUrl} _id={cartItem._id} />
                </>
            )) : -->
            <p id="no-items">No Items Yet</p>
        <!-- } -->
    </div>
    </div>
</div>