<div id="catalog-container">
    <h1>Items</h1>
    <div>
        <a routerLink="/items/clothing" class="btn-secondary">Clothing</a>
        <a routerLink="/items/electronics" class="btn-secondary">Electronics</a>
        <a routerLink="/items/entertainment" class="btn-secondary">Entertainment</a>
        <a routerLink="/items/home-and-garden" class="btn-secondary">Home & Garden</a>
        <a routerLink="/items/sports" class="btn-secondary">Sports</a>
        <a routerLink="/items/all" class="btn-secondary">All</a>
    </div>
    <div class="divider"></div>
    <div id="items-list">
        @for (item of items; track $index) {
            <app-item-preview [_id]="item._id" [imageUrl]="item.imageUrl ? item.imageUrl : 'placeholder-image.png'" [title]="item.title" [price]="item.price"></app-item-preview>
            }
    </div>
</div>