<div>
            <section id="hero">
                <div class="hero-content">
                    <h2>Welcome to buyStuff</h2>
                    <p>The ultimate shopping experience</p>
                    <a href="#shop-now" class="cta-btn">Shop Now</a>
                </div>
            </section>
            <section id="shop-now">
                <h1>Shop By Category</h1>
                <section id="category-container">
                    @for(category of categoryData; track $index) {
                        <a routerLink="/items{{category.link}}">
                            <div id="category-circle">
                                <fa-icon [icon]="category.icon"></fa-icon>
                            </div>
                            <p>{{category.name}}</p>
                        </a>
                    }
                </section>
            </section>
        </div>