<nav>
  <a routerLink="/"><img src="/buystuff-logo.png" id="logo" alt="buyStuff Logo" /></a>
  <div class='align-center'>
    <a routerLink="/items/all"><button class="btn-secondary">Shop</button></a>
    @if(!isLoggedIn) {
    <a routerLink="/login"><button class="btn-main">Sign in</button></a>
    } @else {
    <div class='btn-secondary' id='user-btn' (click)="toggleMenu()">
      <p>{{username}}</p>
      <img src="{{ pfpUrl }}" alt='pfp' class='pfp-icon' />
      @if(isMenuToggled) {
      <ul class='option-container'>
        <a routerLink="/user">
          <li class='btn-secondary'>My Profile</li>
        </a>
        <a routerLink="/user/cart">
          <li class='btn-secondary'>My Cart</li>
        </a>
        <a routerLink="/sell-item">
          <li class='btn-secondary'>Sell Item</li>
        </a>
        <div class='divider'></div>
        <a href="#">
          <li class='btn-secondary'>Logout</li>
        </a>
      </ul>
      }
    </div>
    }
  </div>
</nav>