<div class="cart-container">
    <div class="cart-title">My Cart</div>
    <div class="price">price</div>
    <div class="divider"></div>
    <div class="cart-item">
        <input
            type="checkbox"
        />
        <img src="https://preview.redd.it/absolutely-not-cursed-sanic-is-here-and-i-love-it-v0-phgcv13v5voa1.jpg?width=640&crop=smart&auto=webp&s=4a4b0ddfa269cd0884658195214268b9bee9dff2" alt="Item" class="cart-item-image" />
        <div class="cart-item-title">Cursed Sonic Plush</div>
        <div class="cart-item-actions">
            <button class="btn-main">Remove</button>
        </div>
        <div class="cart-item-price">$6.90</div>
    </div>
    <div class="divider"></div>
    <div class="cart-item">
        <input
            type="checkbox"
        />
        <img src="https://preview.redd.it/absolutely-not-cursed-sanic-is-here-and-i-love-it-v0-phgcv13v5voa1.jpg?width=640&crop=smart&auto=webp&s=4a4b0ddfa269cd0884658195214268b9bee9dff2" alt="Item" class="cart-item-image" />
        <div class="cart-item-title">Cursed Sonic Plush</div>
        <div class="cart-item-actions">
            <button class="btn-main">Remove</button>
        </div>
        <div class="cart-item-price">$6.90</div>
    </div>
    <div class="divider"></div>
    <div class="cart-item">
        <input
            type="checkbox"
        />
        <img src="https://preview.redd.it/absolutely-not-cursed-sanic-is-here-and-i-love-it-v0-phgcv13v5voa1.jpg?width=640&crop=smart&auto=webp&s=4a4b0ddfa269cd0884658195214268b9bee9dff2" alt="Item" class="cart-item-image" />
        <div class="cart-item-title">Cursed Sonic Plush</div>
        <div class="cart-item-actions">
            <button class="btn-main">Remove</button>
        </div>
        <div class="cart-item-price">$6.90</div>
    </div>
    <div class="divider"></div>
    <div class="cart-item">
        <input
            type="checkbox"
        />
        <img src="https://preview.redd.it/absolutely-not-cursed-sanic-is-here-and-i-love-it-v0-phgcv13v5voa1.jpg?width=640&crop=smart&auto=webp&s=4a4b0ddfa269cd0884658195214268b9bee9dff2" alt="Item" class="cart-item-image" />
        <div class="cart-item-title">Cursed Sonic Plush</div>
        <div class="cart-item-actions">
            <button class="btn-main">Remove</button>
        </div>
        <div class="cart-item-price">$6.90</div>
    </div>
    <div class="divider"></div>
    <!-- {cartItems.length
        ? cartItems.map(cartItem => <>
            <UserCartItem
                key={cartItem._id}
                title={cartItem.title}
                price={cartItem.price}
                image={cartItem.imageUrl}
                _id={cartItem._id}
                checked={cartItem.checked || false}
                onCheckboxChange={handleCheckboxChange}
                onRemoveItem={removeItemHandler}
            />
            <div class="divider" key={`divider${cartItem._id}`} />
        </>)
        : <h1>No cart items</h1>
    } -->
    <div class="divider"></div>
    <div class="subtotal">Subtotal: $699</div>
</div>