<div>
            <section id="hero">
                <div class="hero-content">
                    <h2>Welcome to buyStuff</h2>
                    <p>The ultimate shopping experience</p>
                    <a href="#shop-now" class="cta-btn">Shop Now</a>
                </div>
            </section>
            <section id="shop-now">
                <h1>Shop By Category</h1>
                <section id="category-container">
                    <a href="#">
                        <div id="category-circle">
                            <fa-icon [icon]="faCocktail"></fa-icon>
                        </div>
                        <p>Electronics</p>
                    </a>
                    <a href="#">
                        <div id="category-circle">
                            <fa-icon [icon]="faCocktail"></fa-icon>
                        </div>
                        <p>Electronics</p>
                    </a>
                    <a href="#">
                        <div id="category-circle">
                            <fa-icon [icon]="faCocktail"></fa-icon>
                        </div>
                        <p>Electronics</p>
                    </a>
                    <a href="#">
                        <div id="category-circle">
                            <fa-icon [icon]="faCocktail"></fa-icon>
                        </div>
                        <p>Electronics</p>
                    </a>
                    <a href="#">
                        <div id="category-circle">
                            <fa-icon [icon]="faCocktail"></fa-icon>
                        </div>
                        <p>Electronics</p>
                    </a>
                </section>
            </section>
        </div>