<div class='flex-center'>
    <div class='container-default'>
      <!-- <h1 style={{ textAlign: 'center', marginTop: 0 }}>Sign up</h1> -->
      <h1>Sign up</h1>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <label htmlFor='email'>Email</label>
        <div class='input-field'>
          <!-- <input class={errors.email && "error-input"} type='email' id='email' name='email' value={values.email} onChange={changeHandler} /> -->
          <input type='email' id='email' name='email' required formControlName="email"/>
          <!-- {errors.email && <span class='error-text'>{errors.email}</span>} -->
        </div>
        <label htmlFor='username'>Username</label>
        <div class='input-field'>
          <!-- <input class={errors.username && "error-input"} type='username' id='username' name='username' value={values.username} onChange={changeHandler} /> -->
          <input type='username' id='username' name='username' required formControlName="username"/>
          <!-- {errors.username && <span class='error-text'>{errors.username}</span>} -->
        </div>
        <label htmlFor='password'>Password</label>
        <div class='input-field'>
          <!-- <input class={errors.password && "error-input"} type='password' id='password' name='password' value={values.password} onChange={changeHandler} /> -->
          <input type='password' id='password' name='password' required formControlName="password"/>
          <!-- {errors.password && <span class='error-text'>{errors.password}</span>} -->
        </div>
        <label htmlFor='confirm-password'>Confirm Password</label>
        <div class='input-field'>
          <!-- <input class={errors.confirmPassword && "error-input"} type='password' id='confirm-password' name='confirmPassword' value={values.confirmPassword} onChange={changeHandler} /> -->
          <input type='password' id='confirm-password' name='confirmPassword' required formControlName="confirmPassword"/>
          <!-- {errors.confirmPassword && <span class='error-text'>{errors.confirmPassword}</span>} -->
        </div>
        <label htmlFor='pfp'>Profile Pic</label>
        <div class='input-field'>
          <!-- <input type='text' id='profile-pic' name='profilePic' value={values.profilePic} onChange={changeHandler} /> -->
          <input type='text' id='profile-pic' name='profilePic' formControlName="profilePic"/>
        </div>
        <input type='submit' value='Sign up' class='btn-main btn-submit' />
      </form>
      <div class='divider'></div>
      <!-- <p style={{ textAlign: 'center' }}>Already have an account? <Link to='/login' id='to-login'>Sign in.</Link></p> -->
      <p>Already have an account? <a routerLink='/login' id='to-login'>Sign in.</a></p>
    </div>
  </div>