<div id="item-details">
    <div class="container-half">
        <button class="btn-secondary">Back</button>
        <div id="image-container">
            <img src="{{item.imageUrl}}" alt="Fancy smol puter" id="item-image" />
        </div>
        <h1 id="item-title">{{item.title}}</h1>
    </div>
    <div class="container-half">
        <p id="item-category">Category: {{item.category}}</p>
        <p id="item-price">${{item.price}}</p>
        <!-- {isAuthenticated && ( -->
            <div id="btn-container">
                <!-- {isOwner(item._ownerId) ? ( -->
                    <!-- <> -->
                        <button class="btn-secondary">Delete</button>
                        <a href="#" class="btn-main">Edit</a>
                    <!-- </> -->
                <!-- ) : (
                    isInCart ? -->
                         <a href="#" class="btn-secondary">Check Item in Cart</a>
                        <!-- : -->
                         <!-- <button class="button-secondary" onClick={() => {
                            addToCart(item._id);
                            setIsInCart(true);
                        }}> -->
                         <button class="btn-secondary">
                        <fa-icon [icon]="faShoppingCart" /> Add to Cart</button>
                <!-- )} -->
            </div>
        <!-- )} -->
        <div class="divider"></div>
        <p id="item-description">{{item.description}}</p>
    </div>
</div>