<div class='flex-center'>
    <div class='container-default'>
      <h1>Login</h1>
      <form #form="ngForm" (ngSubmit)="login(form)">
        <label htmlFor='email'>Email</label>
        <div class="input-field">
          <input type='email' id='email' name='email' ngModel #email="ngModel" required/>
        </div>
        <label htmlFor='password'>Password</label>
        <div class='input-field'>
          <input type='password' id='password' name='password' ngModel #password="ngModel" required/>
        </div>
          <!-- {error && <span class="error-text">{error}</span>} -->
        <input type='submit' value='Login' class='btn-main btn-submit' />
      </form>
      <div class='divider'></div>
      <a routerLink="/register"><button class='btn-secondary btn-submit'>Create New Account</button></a>
    </div>
  </div>