<div id="catalog-container">
    <h1>Items</h1>
    <div>
        <a href="#" class="btn-secondary">Clothing</a>
        <a href="#" class="btn-secondary">Electronics</a>
        <a href="#" class="btn-secondary">Entertainment</a>
        <a href="#" class="btn-secondary">Home & Garden</a>
        <a href="#" class="btn-secondary">Sports</a>
        <a href="#" class="btn-secondary">All</a>
    </div>
    <div class="divider"></div>
    <div id="items-list">
        <a href="#" id="item-container">
            <img src="https://www.fractal-design.com/app/uploads/2023/05/Terra_KV_Jade_5-2560.jpg" id="item-img" />
            <p id="item-name">Fancy smol puter</p>
            <p id="item-price">$5000</p>
        </a>
        <a href="#" id="item-container">
            <img src="https://www.fractal-design.com/app/uploads/2023/05/Terra_KV_Jade_5-2560.jpg" id="item-img" />
            <p id="item-name">Fancy smol puter</p>
            <p id="item-price">$5000</p>
        </a>
        <a href="#" id="item-container">
            <img src="https://www.fractal-design.com/app/uploads/2023/05/Terra_KV_Jade_5-2560.jpg" id="item-img" />
            <p id="item-name">Fancy smol puter</p>
            <p id="item-price">$5000</p>
        </a>
        <a href="#" id="item-container">
            <img src="https://www.fractal-design.com/app/uploads/2023/05/Terra_KV_Jade_5-2560.jpg" id="item-img" />
            <p id="item-name">Fancy smol puter</p>
            <p id="item-price">$5000</p>
        </a>
    </div>
</div>